@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}
/* body {
  background-color: #1e1e1e;
} */
/* main {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 600px;
} */
